
@{
    ViewData["Title"] = "ContactUs";
}

<h1>ContactUs</h1>
<div class=" row"
<div class=" = col - col-md-3">
  <div class="card bg-light mb-3" style="max-width: 20rem;">
      <div class="card-header">KontaktMoglichKeiten</
          <div class="card-body">
           <h4 class="card-title">Kontaktiere uns</h4>
            <p class="card-text">017622345651</p>
             <p class="card-text">.mirkhan.shams2"gmail.com"</p>
              <p class="card-text">.+989146788445</p>
              <p class="card-text">.mirkhanshams1@gmail.com </p>
          </div>
      </div>
  </div>
  <div class=" col-md-9">
      <div class="jumbotron">
          <h1 class="display-3">Herzlich Wilkommen</h1>
          <p class="lead">Sie Konnen Kontaktiere uns.</p>
           <hr class="my-4">
           <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
           <p class="lead">
               <a class=" btn btn-primary btn-lg" href ="#" role="button">Learn more</a>
          </p>
         </div>
</div>